* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #e3f4ff;
}

.main-content {
    margin: 24px;
}

.heading {
    margin-bottom: 12px;
    font-size: 32px;
}

.para, .list-items {
    color: black;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 8px
}

.list-items {
    margin-left: 20px;
}